name: test

on:
  push:
    branches: main
    paths-ignore:
      - 'docs/**'
  pull_request:
    branches: main
    paths-ignore:
      - 'docs/**'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '>=20'
          cache: 'pnpm'

      - run: pnpm install
      - run: pnpm run lint
      - run: pnpm run test:unit --coverage
      - run: pnpm run build
      - run: pnpm run build:dts
      - run: pnpm run size

      - uses: codecov/codecov-action@v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
